In [106]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)
import sqlalchemy

### Extract the covid19.csv Data

In [107]:
# Read the data into a Pandas DataFrame
covid19_df = pd.read_csv('C:\WAUS-VIRT-DATA-PT-03-2023-U-LOLC\Project 3\WHO-COVID-19-global-data.csv')
covid19_df.head()

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,3/01/2020,AF,Afghanistan,EMRO,0,0,0,0
1,4/01/2020,AF,Afghanistan,EMRO,0,0,0,0
2,5/01/2020,AF,Afghanistan,EMRO,0,0,0,0
3,6/01/2020,AF,Afghanistan,EMRO,0,0,0,0
4,7/01/2020,AF,Afghanistan,EMRO,0,0,0,0

In [108]:
# Get a brief summary of the crowdfunding_info DataFrame.
covid19_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301701 entries, 0 to 301700
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      301701 non-null  object
 1   Country_code       300428 non-null  object
 2   Country            301701 non-null  object
 3   WHO_region         301701 non-null  object
 4   New_cases          301701 non-null  int64
 5   Cumulative_cases   301701 non-null  int64
 6   New_deaths         301701 non-null  int64
 7   Cumulative_deaths  301701 non-null  int64
dtypes: int64(4), object(4)
memory usage: 18.4+ MB

### Perform data cleaning and import data into a DataFrame
---

In [109]:
# Get the crowdfunding_info_df columns.
covid19_df.columns

Index(['Date_reported', 'Country_code', 'Country', 'WHO_region', 'New_cases',
       'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'],
      dtype='object')

In [110]:
# Convert the "date reported" column to a datetime datatype.
covid19_df["Date_reported"]  = pd.to_datetime(covid19_df["Date_reported"])
covid19_df.info()

C:\Users\becsh\AppData\Local\Temp\ipykernel_32156\445656812.py:2: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  covid19_df["Date_reported"]  = pd.to_datetime(covid19_df["Date_reported"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301701 entries, 0 to 301700
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Date_reported      301701 non-null  datetime64[ns]
 1   Country_code       300428 non-null  object
 2   Country            301701 non-null  object
 3   WHO_region         301701 non-null  object
 4   New_cases          301701 non-null  int64
 5   Cumulative_cases   301701 non-null  int64
 6   New_deaths         301701 non-null  int64
 7   Cumulative_deaths  301701 non-null  int64
dtypes: datetime64[ns](1), int64(4), object(3)
memory usage: 18.4+ MB

In [111]:
# Drop unwanted columns - country code
covid19_cleaned_df = covid19_df.drop(['Country_code', 'Date_reported', 'WHO_region'], axis=1)
covid19_cleaned_df.head()

       Country  New_cases  Cumulative_cases  New_deaths  Cumulative_deaths
0  Afghanistan          0                 0           0                  0
1  Afghanistan          0                 0           0                  0
2  Afghanistan          0                 0           0                  0
3  Afghanistan          0                 0           0                  0
4  Afghanistan          0                 0           0                  0

In [112]:
# Identify incomplete rows
covid19_cleaned_df.count()

Country              301701
New_cases            301701
Cumulative_cases     301701
New_deaths           301701
Cumulative_deaths    301701
dtype: int64

In [113]:
# Drop all rows with missing information
covid19_cleaned_df = covid19_cleaned_df.dropna(how='any')

In [114]:
# Display a statistical overview
# We can infer the maximum allowable individual contribution from 'max'
covid19_cleaned_df.describe()

          New_cases  Cumulative_cases     New_deaths  Cumulative_deaths
count  3.017010e+05      3.017010e+05  301701.000000       3.017010e+05
mean   2.543971e+03      1.345705e+06      23.026745       1.724393e+04
std    4.055540e+04      6.247314e+06     154.126878       7.323110e+04
min   -8.261000e+03      0.000000e+00   -3520.000000       0.000000e+00
25%    0.000000e+00      1.822000e+03       0.000000       1.400000e+01
50%    2.000000e+00      3.184500e+04       0.000000       3.490000e+02
75%    2.030000e+02      3.738380e+05       2.000000       5.511000e+03
max    6.966046e+06      1.034368e+08   11447.000000       1.127152e+06

In [115]:
covid19_cleaned_rows_df = covid19_cleaned_df.dropna()
print(covid19_cleaned_rows_df)

            Country  New_cases  Cumulative_cases  New_deaths  \
0       Afghanistan          0                 0           0
1       Afghanistan          0                 0           0
2       Afghanistan          0                 0           0
3       Afghanistan          0                 0           0
4       Afghanistan          0                 0           0
...             ...        ...               ...         ...
301696     Zimbabwe          0            265413           0
301697     Zimbabwe          0            265413           0
301698     Zimbabwe          0            265413           0
301699     Zimbabwe          0            265413           0
301700     Zimbabwe          0            265413           0

        Cumulative_deaths
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
301696               5707
301697               5707
301698               5707
301699               5707
301700               5707

[301701 rows x 5 columns]

In [116]:
dfresult = covid19_cleaned.dropna(how='all')
print(dfresult)

       Date_reported      Country WHO_region  New_cases  Cumulative_cases  \
0         2020-03-01  Afghanistan       EMRO          0                 0
1         2020-04-01  Afghanistan       EMRO          0                 0
2         2020-05-01  Afghanistan       EMRO          0                 0
3         2020-06-01  Afghanistan       EMRO          0                 0
4         2020-07-01  Afghanistan       EMRO          0                 0
...              ...          ...        ...        ...               ...
301696    2023-06-24     Zimbabwe       AFRO          0            265413
301697    2023-06-25     Zimbabwe       AFRO          0            265413
301698    2023-06-26     Zimbabwe       AFRO          0            265413
301699    2023-06-27     Zimbabwe       AFRO          0            265413
301700    2023-06-28     Zimbabwe       AFRO          0            265413

        New_deaths  Cumulative_deaths
0                0                  0
1                0                  0
2                0                  0
3                0                  0
4                0                  0
...            ...                ...
301696           0               5707
301697           0               5707
301698           0               5707
301699           0               5707
301700           0               5707

[301701 rows x 7 columns]

In [117]:
covid19_cases_deaths_df = covid19_cleaned_df.dropna(subset=['New_cases', 'Cumulative_cases', 'New_deaths', 'Cumulative_deaths'], how='all')

In [118]:
print(covid19_cases_deaths_df)

            Country  New_cases  Cumulative_cases  New_deaths  \
0       Afghanistan          0                 0           0
1       Afghanistan          0                 0           0
2       Afghanistan          0                 0           0
3       Afghanistan          0                 0           0
4       Afghanistan          0                 0           0
...             ...        ...               ...         ...
301696     Zimbabwe          0            265413           0
301697     Zimbabwe          0            265413           0
301698     Zimbabwe          0            265413           0
301699     Zimbabwe          0            265413           0
301700     Zimbabwe          0            265413           0

        Cumulative_deaths
0                       0
1                       0
2                       0
3                       0
4                       0
...                   ...
301696               5707
301697               5707
301698               5707
301699               5707
301700               5707

[301701 rows x 5 columns]

In [119]:
#group new cases by country
grouped_bycountry_df = covid19_cases_deaths_df.groupby(["Country"])

print(grouped_bycountry_df)

grouped_bycountry_df.head(30)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001CA64551CC0>

,Country,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,Afghanistan,0,0,0,0
1,Afghanistan,0,0,0,0
2,Afghanistan,0,0,0,0
3,Afghanistan,0,0,0,0
4,Afghanistan,0,0,0,0
...,...,...,...,...,...
300453,Zimbabwe,0,0,0,0
300454,Zimbabwe,0,0,0,0
300455,Zimbabwe,0,0,0,0
300456,Zimbabwe,0,0,0,0
300457,Zimbabwe,0,0,0,0

In [124]:
#group by cases for each country
grouped_bynew_cases_df = covid19_cases_deaths_df.groupby(["Country"]).sum()

grouped_bynew_cases_df.head(30)

#group new deaths by country



#group cumulative deaths by country

,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
Country,,,,
Afghanistan,223175,153899577,7928,6294821
Albania,334090,221742640,3604,2878307
Algeria,271847,212629366,6881,5656884
American Samoa,8332,3551635,34,14618
Andorra,48015,29836693,159,144217
Angola,105384,71691610,1934,1444781
Anguilla,3904,2011968,12,5981
Antigua and Barbuda,9106,5310142,146,96347
Argentina,10044957,6785118948,130472,109178966
Armenia,449233,335258512,8751,6675174
Aruba,44200,26823640,290,179236
Australia,11495207,4617950987,21685,8201569
Austria,6080914,2874570178,22534,16162541
Azerbaijan,831938,584758660,10282,7378482
Bahamas,38084,25690725,844,589532
Bahrain,696614,433526698,1536,1235245
Bangladesh,2042422,1535689903,29462,23366383
Barbados,107794,51398769,593,298291
Belarus,994037,703047310,7118,5137719
Belgium,4801523,2813105154,34372,29593258
Belize,70782,41897395,688,515242
Benin,28014,20019806,163,137108
Bermuda,18860,10025026,165,97330
Bhutan,62673,29296556,21,10544
Bolivia (Plurinational State of),1202710,736634500,22390,18839394
Bonaire,9864,5369977,33,22169
Bosnia and Herzegovina,403043,292039240,16350,12147132
Botswana,330008,209950044,2797,1987256
Brazil,37656050,25258981152,703719,564464989
British Virgin Islands,7305,4249576,64,40215

In [134]:
# Export the DataFrame as a CSV file. 
grouped_bynew_cases_df.to_csv("C:\WAUS-VIRT-DATA-PT-03-2023-U-LOLC\Project 3/covid19.csv", index=False)

In [131]:
# Export covid19_df as sql database files.
from pathlib import Path
from sqlalchemy import create_engine, text
# Path to sqlite
database_path = Path("../Resources/wdi.sqlite")
# Create an engine to access the sqlite database file
engine=sqlalchemy.create_engine('sqlite:///data/db.sqlite')
# Convert the dataframe to a "data" table in the db.sqlite database
grouped_bynew_cases_df.to_sql('data', if_exists='replace', index=False, con=engine)

OperationalError: (sqlite3.OperationalError) unable to open database file
(Background on this error at: https://sqlalche.me/e/14/e3q8)